apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: hello-world-app
spec:
  replicas: 2
  strategy:
    blueGreen:
      activeService: prod-hello-world-app-svc
      previewService: prod-hello-world-app-preview-svc
      autoPromotionEnabled: false
  template:
    spec:
      containers:
      - name: webapp
        image: abhilashshettigar/poc:nginx-green-latest
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world-app-svc
spec:
  selector:
    app: prod-hello-world-app

---
apiVersion: v1
kind: Service
metadata:
  name: hello-world-app-preview-svc
spec:
  selector:
    app: prod-hello-world-app