apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-app
spec:
  replicas: 1
  template:
    metadata:
      labels:
        version: blue
        environment: production
    spec:
      containers:
      - name: nginx
        image: abhilashshettigar/poc:nginx-blue-latest
