apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: blue-deployment
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/abhilashshettigar/blue-green-deployment.git
    targetRevision: main
    path: k8s/overlays/blue
  destination:
    server: https://kubernetes.default.svc
    namespace: blue-green-deployment
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
