apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: hello-world-app
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: webapp
        image: abhilashshettigar/poc:nginx-blue-2.0